annotated-types==0.7.0
appnope==0.1.4
asttokens==3.0.1
comm==0.2.3
debugpy==1.8.20
decorator==5.2.1
executing==2.2.1
graphviz==0.21
guppylang==0.21.9
guppylang-internals==0.30.0
hugr==0.15.4
ipykernel==7.2.0
ipython==9.10.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jinja2==3.1.6
jupyter-client==8.8.0
jupyter-core==5.9.1
lark==1.3.1
lief==0.17.4
markupsafe==3.0.3
matplotlib-inline==0.2.1
mpmath==1.3.0
nest-asyncio==1.6.0
networkx==3.6.1
numpy==2.4.2
packaging==26.0
parso==0.8.6
pexpect==4.9.0
platformdirs==4.9.2
prompt-toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.3
pydantic==2.12.5
pydantic-core==2.41.5
pydantic-extra-types==2.11.0
pydot==4.0.1
pygments==2.19.2
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytket==2.14.0
pyyaml==6.0.3
pyzmq==27.1.0
qir-qis==0.1.3
qwasm==1.0.1
scipy==1.17.1
selene-core==0.2.6
selene-hugr-qis-compiler==0.2.10
selene-sim==0.2.12
semver==3.0.4
setuptools==82.0.0
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tket==0.12.16
tket-eccs==0.5.1
tket-exts==0.12.2
tornado==6.5.4
tqdm==4.67.3
traitlets==5.14.3
types-requests==2.32.4.20260107
types-tqdm==4.67.3.20260303
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.6.3
wasmtime==41.0.0
wcwidth==0.6.0
ziglang==0.15.2
